$primary: #242E38;
$secondary: #2A5C99;
$third: #EAC43D;
$fourth: #14C0CC;
$fifth: #A6CD4E;

$background: $primary;
$foreground: #F1F1F1;

html, body {
    height: 100%;
}

body {
    background: $primary;
    color: $foreground;

    margin: 0;

    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-size: 12px;

    display: grid;

    overflow: hidden;

    grid-template-rows: 32px auto;

    user-select: none;
}

img {
    user-select: none;
    pointer-events: none;
}

button {
    padding: 8px;

    background: rgba(255, 255, 255, .1);
    color: $foreground;

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
        filter: brightness(110%);
    }

    &:active {
        filter: brightness(90%);
    }

    .segoe-mdl2 {
        font-size: 16px;

        &.segoe-mdl2-button {
            margin-right: 8px;
        }
    }
}

input {
    padding: 8px;

    background: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .1);
    color: $foreground;
    
    &:focus {
        outline: none;
    }
}

header {
    display: grid;

    height: 32px;
    width: 100%;

    font-size: 12px;

    grid-template-areas: "title buttons";
    grid-template-columns: auto max-content;

    background: darken($background, 5%);
    color: lighten($foreground, 5%);
    
    -webkit-app-region: drag;

    #header-title {
        display: flex;
        align-items: center;

        padding: 0 8px;
    }

    #header-buttons {
        grid-area: buttons;

        display: grid;

        height: 32px;

        grid-auto-flow: column;
        grid-auto-columns: 46px;

        .header-button {
            display: flex;
            justify-content: center;
            align-items: center;

            cursor: pointer;

            -webkit-app-region: no-drag;

            transition: background ease .1s;
            
            &:hover {
                background: rgba(255, 255, 255, 0.04);

                &.header-button-caution {
                    background: #C42B1C;
                }
            }
        }
    }
}

.file-segment-add {
    position: absolute;

    display: grid;

    grid-template-columns: 64px;

    border: 6px solid darken($background, 2%);

    background: darken($background, 2%);
    
    transform: translate(-50%, -50%);
    margin-top: -4px;

    pointer-events: none;
    
    .file-segment-add-thumbnail {
        text-align: center;

        background: darken($background, 5%);

        overflow: hidden;

        height: 64px / 16 * 9;

        img {
            max-height: 100%;
        }
    }
}

main {
    position: relative;

    #main-grid {
        height: 100%;
        width: 100%;

        display: grid;

        grid-gap: 8px;

        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: auto min-content;

        grid-template-areas:    "files video"
                                "segments segments";
    }

    overflow: hidden;

    #main-files {
        min-width: 340px;

        grid-area: files;

        display: grid;

        grid-template-rows: max-content auto;
        grid-gap: 8px;

        border-right: 1px solid rgba(255, 255, 255, 0.04);

        .main-files-add {
            display: grid;

            grid-auto-flow: column;

            grid-gap: 8px;

            .main-files-add-selection {
                display: grid;

                grid-auto-flow: column;
                grid-auto-columns: 1fr;
    
                grid-gap: 8px;

                button {
                    padding: 0;
                }
            }
        }

        overflow: hidden;

        .main-files-container {
            display: grid;

            grid-auto-flow: row;
            grid-auto-rows: 1fr;
        }

        #main-files-videos-empty {
            display: none;

            &.active {
                display: block;
            }
        }

        #main-files-videos-content {
            display: none;

            &.active {
                display: block;
            }
        }

        .main-files-category {

            .main-files-category-header {
                color: darken($foreground, 25%);
    
                border-bottom: 1px solid rgba(255, 255, 255, .04);
    
                padding: 4px 0;
            }

            .main-files-category-content {

                .main-files-item {
                    cursor: pointer;

                    margin: 4px 0;

                    display: grid;

                    grid-template-columns: max-content auto;
                    grid-gap: 8px;

                    background: darken($background, 2%);

                    .main-files-item-thumbnail {
                        width: 150px;
                        height: 150px / 16 * 9;

                        background: darken($background, 5%);

                        overflow: hidden;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            max-width: 100%;
                        }
                    }

                    .main-files-item-information {
                        padding: 2px 0;

                        height: 100%;

                        .main-files-item-id {
                            color: darken($foreground, 25%);

                            font-size: 7px;

                            margin-top: auto;
                        }
                    }

                    position: relative;

                    .main-files-item-overlay {
                        width: 100%;
                        height: 100%;

                        position: absolute;

                        left: 0;
                        top: 0;

                        background: rgba(0, 0, 0, .25);

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        display: none;

                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    #main-video {
        grid-area: video;

        display: grid;

        grid-template-rows: auto max-content;
        grid-template-areas:    "renderer"
                                "player";

        .main-video-renderer {
            grid-area: renderer;

            position: relative;

            width: 100%;
            height: 100%;

            .main-video-renderer-player {
                position: absolute;

                left: 0;
                top: 0;
                right: 0;
                bottom: 0;

                margin: auto;

                width: 384px;
                height: 216px;
    
                background: darken($background, 5%);
    
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
            }
        }

        .main-video-player {
            grid-area: player;

            text-align: center;

            padding: 8px 0;

            .main-video-player-button {
                width: 32px;
                height: 32px;

                margin: 0 2px;

                display: inline-flex;
                justify-content: center;
                align-items: center;

                color: rgba(255, 255, 255, .2);
                border: 1px solid rgba(255, 255, 255, .2);
                border-radius: 50%;

                .segoe-mdl2 {
                    font-size: 16px;
                }
                
                &.main-video-player-button-large {
                    width: 42px;
                    height: 42px;

                    .segoe-mdl2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }
    
    #main-segments {
        grid-area: segments;

        padding: 6px;

        border-top: 1px solid rgba(255, 255, 255, 0.04);

        position: relative;

        overflow: hidden;

        #main-segments-canvas {
        
        }
        
        #main-segments-content {
            width: 100%;

            overflow: auto;
        }

        .main-segments-time {
            height: 20px;
            width: 100%;

            border: 1px solid rgba(0, 0, 0, 0.04);
        }

        .main-segments-container {
            height: 100%;

            overflow: auto;
        }

        .main-segments-drop {
            padding: 16px 0;

            text-align: center;

            border-top: 1px solid rgba(255, 255, 255, 0.04);
        }
            
        :not(:last-child) {
            margin-bottom: 6px;
        }

        .main-segments-section {
            display: grid;
    
            grid-template-columns: 48px auto;
            
            .main-segments-section-id {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .main-segments-section-segment {
                background: darken($background, 2%);

                height: 42px;
            }

            &.main-segments-section-video {

                .main-segments-section-segment {
                    height: 64px / 16 * 9;
                    
                    padding: 2px;
                }
            }

            &.main-segments-section-audio {
                &:not(:last-child) {
                    margin-bottom: 2px;
                }
                
                .main-segments-section-segment {
                    height: 28px;
                }
            }
        }
    
    }

    #main-overlay {
        width: 100%;
        height: 100%;

        position: absolute;

        left: 0;
        top: 0;

        background: rgba(0, 0, 0, .25);

        display: none;

        &.active {
            display: block;
        }
    }

    #main-loader {
        width: 100%;
        height: 100%;

        position: absolute;

        left: 0;
        top: 0;

        justify-content: center;
        align-items: center;

        background: darken($background, 5%);
        color: lighten($foreground, 5%);

        display: none;

        &.active {
            display: flex;
        }
    }

    .main-overlay-dialog {
        position: absolute;

        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        display: flex;

        .main-overlay-dialog-container {
            margin: auto;

            background: $background;

            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);

            padding: 8px;

            min-width: 240px;
        }
    }

    #main-projects {
        display: none;

        &.active {
            display: flex;
        }

        position: absolute;

        left: 0;
        top: 0;

        width: 100%;
        height: 100%;

        .main-projects-container {
            margin: auto;

            background: $background;

            box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);

            padding: 8px;

            display: grid;

            grid-template-rows: auto max-content;
            grid-gap: 8px;

            #main-projects-empty {
                display: none;

                &.active {
                    display: block;
                }
            }

            #main-projects-list {
                display: none;

                overflow: scroll;

                &.active {
                    display: grid;
                }

                grid-auto-columns: 150px;

                .main-projects-card {
                    background: lighten($background, 5%);
                    
                    min-height: 150px / 16 * 9;

                    cursor: pointer;

                    &:hover {
                        filter: brightness(110%);
                    }

                    &:active {
                        filter: brightness(90%);
                    }

                    .main-projects-card-thumbnail {
                        height: 150px / 16 * 9;

    
                        background: darken($background, 5%);
                    }

                    .main-projects-card-name,
                    .main-projects-card-modified {
                        padding: 4px 8px;
                    }

                    .main-projects-card-modified {
                        color: darken($foreground, 25%);
                    }
                }
            }
            
            .main-projects-new {
                display: grid;

                border-top: 1px solid rgba(255, 255, 255, 0.04);

                padding: 8px 0 0;

                grid-template-columns: auto max-content;
                grid-gap: 8px;
            }
        }
    }
}

section {
    padding: 8px;
}

a {
    color: #FFF;
}

p {
    color: $foreground;
}

.segoe-mdl2 {
    font-style: normal;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background: none;
}


::-webkit-scrollbar-thumb {
    border-radius: 6px;

    background: rgba(255, 255, 255, .2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .4);
}
